{% extends 'base.html.twig' %}
{% block title %}Cv{% endblock %}

{% block body %}

<div class="example-wrapper">
    <img width="50" height="50" src="{{ asset('assets/images/'~path | defaultImage) }}" alt="CV" class="rounded-circle">
   {{ name | upper}} <br>
   {{ firstname | upper }} <br>
   {{ age }} <br>
   {{ section }} <br>
</div>
{% endblock %}
