{% extends 'base.html.twig' %}

{% block title %}Personnes{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <th>Avatar</th>
        <th>Firstname</th>
        <th>Name</th>
        <th>Cin</th>
        <th>Age</th>
        <th>
            <i class="fas fa-info-circle"></i>
            <i class="fas fa-trash"></i>
        </th>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td>
                    <img src="{{ asset('assets/images/'~person.path | defaultImage) }}"
                         alt="Cv"
                         class="rounded-circle"
                         width="50"
                         height="50"
                    ></td>
                <td>{{ person.firstname }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.cin }}</td>
                <td>
                    <a href="{{ path('app_detail_person', {id: person.id}) }}">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a href="{{ path('delete_person', {id: person.id}) }}">
                        <i class="fas fa-trash"></i>
                    </a>
                    <a href="{{ path('person.edit', {id: person.id}) }}">
                        <i class="fas fa-user-edit"></i>
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if isPaginated is defined and isPaginated %}
        <div class="row mt-2">
            <nav aria-label="col Page navigation example">
                <ul class="pagination">
                    {% if page != 1 %}
                        <li class="page-item">
                            <a
                                    class="page-link"
                                    href="{{ path('app_person', {page: page - 1, nbre: nbre}) }}"
                            >
                                Previous
                            </a></li>
                    {% endif %}
                    {% for i in range(1, nbrePage) %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path('app_person', {page: i, nbre: nbre}) }}"
                            >{{ i }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if page != nbrePage %}
                        <li class="page-item">
                            <a
                                    class="page-link"
                                    href="{{ path('app_person', {page: page + 1, nbre: nbre}) }}"
                            >Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    {% endif %}
{% endblock %}
